<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules"
             type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite"/>
  </configSections>
  
  <modules>
    <module assemblyFile="LateNight.Modules.Welcome.dll"
            moduleType="BrettRyan.LateNight.Modules.Welcome.WelcomeModule"
            moduleName="WelcomeModule"
            startupLoaded="True"/>
  </modules>
  
</configuration>
