<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules"
             type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BrettRyan.LateNight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <modules>
    <module assemblyFile="LateNight.Modules.Welcome.dll"
            moduleType="BrettRyan.LateNight.Modules.Welcome.WelcomeModule"
            moduleName="Late Night Welcome Screen"
            startupLoaded="True"/>
    <module assemblyFile="LateNight.Modules.Notes.dll"
            moduleType="BrettRyan.LateNight.Modules.Notes.NotesModule"
            moduleName="Late Night Notes Manager"
            startupLoaded="True"/>
  </modules>
  
  <userSettings>
    <BrettRyan.LateNight.Properties.Settings>
      <setting name="AlwaysShowMenu" serializeAs="String">
        <value>True</value>
      </setting>
    </BrettRyan.LateNight.Properties.Settings>
  </userSettings>
</configuration>
