<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>

    <section name="unity"
           type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

    <section name="modules"
             type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection,
                   Microsoft.Practices.Composite"/>
    
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup,
                        System, Version=2.0.0.0,
                        Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BrettRyan.LateNight.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System,
                     Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false" />
    </sectionGroup>

  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
                       Microsoft.Practices.Unity" />
    </typeAliases>

    <containers>
      <container>
        <types>
          <!-- The application requires an ISecurityService implementation to
               be provided, a dummy one is used within the application for
               demonstration purposes, implementors may simply replace this
               with their own implementation. -->
          <type type="BrettRyan.LateNight.Services.ISecurityService, LateNight.Infrastructure"
                mapTo="BrettRyan.LateNight.Services.SimpleSecurityService, LateNight">
            <lifetime type="singleton" />
          </type>
          
          <!-- As an extension to the SimpleSecurityService defined above you
               may provide an implementation of an IUserProvider. If you
               supply other implementations of ISecurityService this will not
               be required. -->
          <type type="BrettRyan.LateNight.Services.IUserProvider, LateNight.Infrastructure"
                mapTo="BrettRyan.LateNight.Services.StaticUserProvider, LateNight">
            <lifetime type="singleton" />
          </type>
          
        </types>
      </container>
    </containers>
    
  </unity>
  
  <modules>
    <module assemblyFile="LateNight.Modules.Welcome.dll"
            moduleType="BrettRyan.LateNight.Modules.Welcome.WelcomeModule"
            moduleName="Late Night Welcome Screen"
            startupLoaded="True"/>
    <module assemblyFile="LateNight.Modules.Notes.dll"
            moduleType="BrettRyan.LateNight.Modules.Notes.NotesModule"
            moduleName="Late Night Notes Manager"
            startupLoaded="True"/>
  </modules>

  <appSettings>
    <add key="SecurityModule" value=""/>
  </appSettings>
  
  <userSettings>
    <BrettRyan.LateNight.Properties.Settings>
      <setting name="AlwaysShowMenu" serializeAs="String">
        <value>True</value>
      </setting>
    </BrettRyan.LateNight.Properties.Settings>
  </userSettings>

</configuration>
