<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="modules"
             type="Prism.Configuration.ModulesConfigurationSection, Prism"/>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JohnSands.ProductPrism.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <modules>
    <module assemblyFile="WelcomeModule.dll"
            moduleType="JohnSands.ProductPrism.WelcomeModule.WelcomeModule"
            moduleName="WelcomeModule"/>
    <module assemblyFile="LinePlanModule.dll"
            moduleType="JohnSands.ProductPrism.LinePlanModule.LinePlanModule"
            moduleName="LinePlanModule"/>
  </modules>
  
  <userSettings>
    <JohnSands.ProductPrism.Properties.Settings>
      <setting name="AlwaysShowMenu" serializeAs="String">
        <value>False</value>
      </setting>
    </JohnSands.ProductPrism.Properties.Settings>
  </userSettings>
  
</configuration>
